@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
  
  h1 {
    @apply my-5 py-1 text-5xl font-bold md:text-7xl;
    background: #fff832;
    background: -moz-linear-gradient(45deg,  #fff832 0%, #2989d8 52%, #ff89f5 100%);
    background: -webkit-linear-gradient(45deg,  #fff832 0%,#2989d8 52%,#ff89f5 100%);
    background: linear-gradient(45deg,  #fff832 0%,#2989d8 52%,#ff89f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff89f5',GradientType=1 );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    @apply my-5 text-xl md:text-3xl;
  }

  h3 {
    @apply text-xl uppercase font-bold md:text-3xl;
    background: #fff832;
    background: -moz-linear-gradient(45deg,  #fff832 0%, #2989d8 52%, #ff89f5 100%);
    background: -webkit-linear-gradient(45deg,  #fff832 0%,#2989d8 52%,#ff89f5 100%);
    background: linear-gradient(45deg,  #fff832 0%,#2989d8 52%,#ff89f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff832', endColorstr='#ff89f5',GradientType=1 );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


